<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/logandreg.css' %}">
</head>
<body>
    <h1>Register</h1>

    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'profile' user.username %}">Profile</a>
        {% endif %}
    </div>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <div>
            <label for="profile_picture">Profile Picture:</label>
            <input type="file" name="profile_picture" id="profile_picture" required>
        </div>

        <button type="submit">Register</button>
    </form>

    <a href="{% url 'login' %}">Already have an account? Login here.</a>
</body>
</html>
